$primary: #7ecef4;
$secondary: #2997cb;
$accent: #ff4500;
$dark: #333;
$light: #fff;
$text: #666;
$link-color: #1c688b;
$link-hover: #ff4500;

$font-family-base: "Noto Sans CJK TC", "Helvetica Neue", Arial, "Heiti TC",
  "LiHei Pro", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
$font-family-script: "Dancing Script", "Helvetica Neue", Arial, "Heiti TC",
  "LiHei Pro", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
